@font-face{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    src: usr("./font/verdanab.ttf");
}


body{
    overflow: scroll;
    overflow: hidden;
    margin: 0;
}
section{
    width: 480px;
    height: 854px;
    z-index: 1;
}
.show{
    display: block;
}
.hide{
    display: none;
}




/*-----------------------section home----------------------------*/
#home{
    background: linear-gradient(#02EC7F, #2B1842);
    z-index: -1;
}
#andy_home_img{
    display: block;
    margin: auto;
    padding-top: 40%;
}
#home_title{
    display: block;
    margin: auto;
    padding-top: 8%;
    padding-bottom: 8%;
}
#play_home{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: auto;
    width: 381px;
    height: 10%;
    border-radius: 50px;
    border: none;
    background-color: #02EC7F;
    color: #2B1842;
    text-align: center;
    font-size: 40pt;
    font-weight: bolder;
    text-shadow:0 2px 20px #2B1842; 
}
#creditos_home{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 17%;
    right: 8%;
    width: 194px;
    height: 7%;
    border-radius: 50px;
    border: none;
    background-color: #02EC7F;
    color: #2B1842;
    text-align: center;
    font-size: 25pt;
    font-weight: bolder;
    text-shadow:0 2px 20px #2B1842; 
}
#record_home{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 8%;
    right: 8%;
    width: 194px;
    height: 7%;
    border-radius: 50px;
    border: none;
    background-color: #02EC7F;
    color: #2B1842;
    text-align: center;
    font-size: 25pt;
    font-weight: bolder;
    text-shadow:0 2px 20px #2B1842; 
}
#info_home{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 37px;
    color: #2B1842;
}
#popUp{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 854px;;
    width: 480px;
    background: rgba(0,0,0,0.7);
}
/*---------------------------------------------------------*/




/*--------------------section Record----------------------*/
#record{    
    background: linear-gradient(#2B1842,#1F5956);
}
#andy_record_img{
    display: block;
    margin: auto;
    padding-top: 15%
}
#record_title{
    display: block;
    margin: auto;
    padding-top: 16%;
}
#max_score{
    display: block;
    margin:auto;
    padding-top: 8%;
}
#score{
    color: #E1F9EC;
    font-size: 35pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#last_score{
    color: #E1F9EC;
    font-size: 14pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-bottom: 10%;
}
#back_from_record{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    height: 32px;
    width: 190px;
    display: block;
    margin: auto;
    background-color: #2B1842;
    color: #E1F9EC;
    border-radius: 50px;
    border: none;
}

/*---------------------------------------------------------------------*/


/*-------------------------Section credits---------------------------------*/
#creditos{
    background: linear-gradient(#2B1842,#1F5956);
}
#back_from_credits{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    height: 32px;
    width: 190px;
    display: block;    
    margin-left: 45%;
    margin-top: 2%;
    background-color: #2B1842;
    color: #E1F9EC;
    border-radius: 50px;
    border: none;
}

#andy_creditos_img{
    display: block;
}
#credits_title{
    display: block;
    margin: auto;
    padding-top: 10%;
}
#creditos_text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    color:#E1F9EC;
    width: 72%;
    margin: auto;
    padding-top: 6%;
    text-align: justify;
    text-justify: inter-word;
}
#people{
    color:#E1F9EC;
    width: 89%;
    margin: auto;
    padding-top: 4%;
    font-weight: bold;
}
ul li{
    font-weight: 400;
    display: block;
}
/*---------------------section play game--------------*/
#play{
    z-index: -1;

}
#play_field{
    z-index: -1;    
    position: relative;
    display: block;
    margin: auto;
    width: 360px;
    height: 854px;
    background: linear-gradient(#1f5956, #F7D64B);
}

#mvLeft{
    position: absolute;
    top:0px;
    width: 60px;
    height: 854px;
    border: none;    
    border-right: 4px solid #2B1842;
    background: linear-gradient(#1f5956, #F7D64B);      
}
#mvRight{
    position: absolute;
    top:0px;
    left:420px;
    width: 60px;
    height: 854px;
    border: none;
    border-left: 4px solid #2B1842;
    background: linear-gradient(#1f5956, #F7D64B);
}

#pts{
    z-index: -1;        
    text-align: center;
    line-height: 2;
    height: 30px;
    width: 100px;
    background: #2B1842;
    color: #E1F9EC;
    position: absolute;
    display: block;
    bottom: 20px;
    margin: auto;
    bottom: 5%;
    margin: auto;
    left: 42%;
    border-radius: 100px;
}

#pause{
    position: absolute;
    top: 2%;
    left: 2%;
}

#pausePopUp{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 854px;;
    width: 480px;
    background: rgba(0,0,0,0.7);
}
#record_pause{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: auto;
    margin-top: 50%;
    margin-bottom: 5%;
    width: 219px;
    height: 79px;
    border-radius: 50px;
    border: none;
    background-color: #02EC7F;
    color: #2B1842;
    text-align: center;
    font-size: 25pt;
    font-weight: bolder;
    text-shadow:0 2px 20px #2B1842; 
}
#restart_game{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: auto;
    width: 219px;
    height: 79px;
    border-radius: 50px;
    border: none;
    background-color: #02EC7F;
    color: #2B1842;
    text-align: center;
    font-size: 25pt;
    font-weight: bolder;
    text-shadow:0 2px 20px #2B1842; 
}
#gameLost{
    position: absolute;
    text-align: center;
    z-index: 1;
    left: 0px;
    top: 0px;
    height: 854px;;
    width: 480px;
    background: linear-gradient(#2B1842, #02EC7F);
}
#andy_lost{
    display: block;
    margin: auto;
    margin-top: 35%;
}
#andy_lost_text{
    display: block;
    margin: auto;
    margin-top: 8%;
}
#puntaje{
    display: block;
    margin: auto;
    margin-top: 8%;
    color: #E1f9EC;
    font-size: 40pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#play_again{
    display: block;
    margin: auto;
    margin-top: 8%;
    width: 280px;
    height: 50px;
    border-radius: 100px;
    background: #2B1842;
    border: none;
    color: #E1f9EC;
    font-size: 22pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}